
/*Big tablet to 1200 px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) {
  .row { padding: 0 2%;}
}

/*Small tablet to big tablet: from 768 to 1023 px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0;}

/* Small phones to small tablets from 481 px to 767 px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px;}
    section { padding: 30px 0;}

    .row { padding: 0 4%; }
    .col {
        width: 100%;
        margin: 0 0 1% 0;
    }
    .main-nav { display: none;}

    .about-box img {width: 40%;}

/*-- Small phones from 0 to 480 pixels --*/
@media only screen and (max-width: 480px) {
    section { padding: 25px 0;}
}
