/* ------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0px;
    font-color: #fff
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------*/
/* HEADINGS */
/*-------------------------------------------*/

h1,
h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 160%;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* ------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ------------------------------------------*/
/* PARAGRAPHS */
/*-------------------------------------------*/

.box p {
    line-height: 150%;
    padding-top: 10%;
}

.about-box img {
    margin-left: 25%;
    border-radius: 15px;
}

/* ------------------------------------------*/
/* HEADER */
/*-------------------------------------------*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(images/background-min.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title-text-box {
    position: absolute;
    width: 1140px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.name {
    color: #f26818;
    font-weight: bold;
}

.soLink:link {
    display: inline-block;
    text-decoration: none;
    padding: 0px 10px;
}

.social:hover {
    border-radius: 200px;
    border: 3px solid #f26818;
    height: 55px;
    width: 55px;
    transition: border 0.3s, height 0.3s, width 0.3s;
}

/* main nav */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 15px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 4px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 85%;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #f26818;
}

/* stick nav */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.98);
    box-shadow: 0 2px 2px #c6c6c6;
    z-index: 9999;
}

.sticky .main-nav {
  margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 8px 0;
}

/* mobile nav */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
}
/* ------------------------------------------*/
/* ABOUT */
/*-------------------------------------------*/

.about-me {
    color: #000;
    background-color: #e6e6e6;
}

.about-title {
    font-size: 200%;
}

.about-title:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------------------------------------------*/
/* TECHNOLOGIES */
/*-------------------------------------------*/

.section-technologies {
    padding: 0;
}

.tech-showcase {
    list-style: none;
    width: 100%;
}

.tech-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.tech-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.tech-photo img {
    opacity: 0.8;
    width: 100%;
    height: 250px;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.tech-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* ------------------------------------------*/
/* PROJECTS */
/*-------------------------------------------*/

.section-projects {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/art-background-min.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.projects-title:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

.box img {
  display: block;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 50%;
}

.project-details ul {
    list-style: none;
}

.project-details ul li {
    padding: 5px 0;
    color: #333;
    text-align: center;
}

.project-name{
  text-align: center;
  margin-bottom: 5px;
  color: #333;
}

.project-box {
    opacity: 0.8;
    background-color: #fff;
    border-radius: 15px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef;
}

/* ------------------------------------------*/
/* FOOTER */
/*-------------------------------------------*/

footer {
    background-color: #333;
    padding: 30px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-icons {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin-right: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 140%;
}

.ion-social-facebook,
.ion-social-linkedin-outline,
.ion-social-github {
    transition: color 0.4s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-linkedin-outline:hover {
    color: #1da1f2;
}

.ion-social-github:hover {
    color: #6e5494;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 10px;
}

/* ------------------------------------------*/
/* ANIMATION */
/*-------------------------------------------*/

.js--picture {
    opacity: 0;
}

.js-picture.animated {
    opacity: 1;
}

.front img {
      width: 100%;
      height: auto;
}
