/* ------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0px;
    font-color: #fff
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------*/
/* HEADINGS */
/*-------------------------------------------*/

h1,
h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 160%;
    text-align: center;
    margin-bottom: 30px;
}

/* ------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
  padding: 80px 0;
}

/* ------------------------------------------*/
/* PARAGRAPHS */
/*-------------------------------------------*/

.box p {
    line-height: 150%;
    padding-top: 10%;
}

.box img {
    margin-left: 25%;
    border-radius: 15px;
}

/* ------------------------------------------*/
/* HEADER */
/*-------------------------------------------*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title-text-box {
    position: absolute;
    width: 1140px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.name {
    color: #f26818;
    font-weight: bold;
}

.soLink:link {
    display: inline-block;
    text-decoration: none;
    padding: 0px 10px;
}

.social:hover {
    border-radius: 200px;
    border: 3px solid #f26818;
    height: 55px;
    width: 55px;
    transition: border 0.3s, height 0.3s, width 0.3s;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 4px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 85%;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #f26818;
}

/* ------------------------------------------*/
/* ABOUT */
/*-------------------------------------------*/

.about-me {
    color: #000;
    background-color: #e6e6e6;
}

.about-title {
    font-size: 200%;
}

.about-title:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------------------------------------------*/
/* TECHNOLOGIES */
/*-------------------------------------------*/

.section-technologies {
    padding: 0;
}

.tech-showcase {
    list-style: none;
    width: 100%;
}

.tech-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.tech-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.tech-photo img {
    opacity: 0.8;
    width: 100%;
    height: 300px;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.tech-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* ------------------------------------------*/
/* PROJECTS */
/*-------------------------------------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/art-background.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.testimonials-title:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 150px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ------------------------------------------*/
/* FOOTER */
/*-------------------------------------------*/

footer {
    background-color: #333;
    padding: 30px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-icons {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin-right: 0px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 140%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-github {
    transition: color 0.4s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #1da1f2;
}

.ion-social-github:hover {
    color: #6e5494;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 10px;
}
