/* ------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/
* {
    marginL 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0px;
    font-color: #fff
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

/* ------------------------------------------*/
/* HEADINGS */
/*-------------------------------------------*/

h1,
h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 160%;
    text-align: center;
    margin-bottom: 30px;
}

/* ------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
  padding: 70px;
}

/* ------------------------------------------*/
/* PARAGRAPHS */
/*-------------------------------------------*/

.box p {
    line-height: 150%;
    padding-top: 40px;
}

.box img {
    margin-left: 150px;
    border-radius: 15px;
}

/* ------------------------------------------*/
/* HEADER */
/*-------------------------------------------*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title-text-box {
    position: absolute;
    width: 1140px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.name {
    color: #f26818;
    font-weight: bold;
}

.soLink:link {
    display: inline-block;
    text-decoration: none;
    padding: 0px 10px;
}

.social:hover {
    border-radius: 200px;
    border: 3px solid #f26818;
    height: 55px;
    width: 55px;
    transition: border 0.3s, height 0.3s, width 0.3s;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 4px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 85%;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #f26818;
}

/* ------------------------------------------*/
/* ABOUT */
/*-------------------------------------------*/

.about-me {
    color: #000;
    background-color: #e6e6e6;
}

.about-title {
    font-size: 200%;
}

.about-title:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

/* .main {
  height: 750px;
  background-image: url(images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/*
@media screen and (min-width:1000px){
  #container1 {
    height: 700px;
    width: 1200px;
    margin: 0 auto;
  }
}

.header {
  margin-top: 0px;
  width: 100%;
}

nav {
  float: right;
  margin-top: 26px;
}

.navbar {
  color: white;
  font-size: 20px;
  margin-left: 25px;
  text-decoration: none;
}

.navbar:hover {
  text-decoration: underline;
}

span {
  width: 100%;
}

h1 {
  font-size: 80px;
  color: #fff;
  text-align: center;
  clear: both;
  padding-top: 80px;
}

h2 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  margin-top: -30px;
} */
